@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #4f7df3;
  --color-input-field: hsl(223, 100%, 88%);
  --color-error-message: hsl(354, 100%, 66%);
  --color-gray-light: hsl(0, 0%, 59%);
  --color-dark-blue: hsl(209, 33%, 12%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* 300,600,700 */
html {
  font-size: 62.5%;
  font-family: "Libre Franklin", serif;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-light);
  line-height: 1.6;
}

.app {
}

/* AUTHOR */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--primary-color);
}

/* //////////////////////////////////////////////////// */
/* MEDIA-QUERIES */
/* //////////////////////////////////////////////// */

/* 68.75em = 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
/* 56.25em = 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
/* 50em = 800px */
@media only screen and (max-width: 50em) {
  #root {
    margin: 4rem 2rem;
  }
}
/* 37.5em = 600px */
@media only screen and (max-width: 37.5em) {
}

/* 31.25 = 500px */
@media only screen and (max-width: 31.25em) {
}

/* 25em = 400px */
@media only screen and (max-width: 25em) {
}
